{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
    Leave comment
{% endblock %}

{% block body_block %}
    <h1>Leave comment</h1>
    {% if added %}
        Success
        <a href="{% url 'app:order-detail' order_id %}">Return order detail</a>
    {% else %}
        {% if message %}
            {{ message }}
        {% endif %}
        <form id="comment-form" method="post" action="{% url 'app:add-comment' order_id %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Submit"/>
        </form>
    {% endif %}
{% endblock %}