{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
    Add order
{% endblock %}

{% block body_block %}
    <h1>Add order</h1>
    {% if added %}
        Success
        <a href="{% url 'app:index' %}">Return to the homepage.</a>
    {% else %}
        {% if message %}
            {{ message }}
        {% endif %}
        <form id="order_form" method="post" action="{% url 'app:add_order' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ order_form.as_p }}
            images: <input type="file" name="images" multiple="multiple">
            <br>
            {# 自定义拓展 #}
            tags:
            <label>
                <input type="text" name="tags">
            </label>
            <label>
                <input type="text" name="tags">
            </label>
            <label>
                <input type="text" name="tags">
            </label>
            <br>
            <input type="submit" name="submit" value="Submit"/>
        </form>
    {% endif %}
{% endblock %}