<!DOCTYPE html>
{% load static %}

<html lang="en-us">
<head>
    <title>Title
        {% block title_block %}
            Base title
        {% endblock %}
    </title>
    {#    <link rel="stylesheet" href="{% static 'bootstrap.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static 'shop.css' %}">#}
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div>
    {% block body_block %} {% endblock %}
</div>
<hr/>
<div>
    <ul>
        {% if user.is_authenticated %}

        {% else %}
            {{ user.id }}
            <li><a href="{% url 'app:register' %}">Sign Up</a></li>
            <li><a href="{% url 'app:login' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'app:index' %}">Index</a></li>
    </ul>
</div>
</body>
</html>
