<!DOCTYPE html>
{% load static %}

<html lang="en-us">

<head>
    <!-- enable phones view -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        <!-- base title -->
        {% block title_block %}
        Aucenter
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- page icon -->
    <link rel="icon" href="{% static 'image/auction.svg' %}" />
</head>

<body>
    <!-- base navigation, not use another templete because it is easy -->
    <div class="navigation">
        <a class="icon" href="{% url 'app:index' %}">
            <img src="{% static 'image/auction.svg' %}" alt="icon svg" class="icon_img" />
            <i class="icon_text">Aucenter</i>
        </a>
        <a class="page_link" id="home_icon" href="{% url 'app:index' %}">
            Second-hand Fair
        </a>
        {% if user.is_authenticated %}
        <a class="page_link" href="{% url 'app:add-order' %}">
            Add new Order
        </a>
        <a class="avatar_out" href="{% url 'app:user' user.id %}">
            <div class="avatar">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="user_avatar" class="avatar_pic">
                {% else %}
                <img src="{% static 'image/avatar_default.svg' %}" alt="user_default_avatar" class="avatar_pic">
                {% endif %}
            </div>
            <div class="username_div">
                {{ user.username }}
            </div>
        </a>
        {% else %}
        <a class="login_icon" href="{% url 'app:login' %}">Log in</a>
        <a class="register_icon" href="{% url 'app:register' %}">Register</a>
        {% endif %}
    </div>
    <!-- body block except navigation bar -->
    <div class="main_inner">
        {% block body_block %} {% endblock %}
    </div>
</body>

</html>
