{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
Aucition Hall
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<div class="main_Div">
    <div class="index_inner">
        <div class="index_title">
            <input class="search_input" autoFocus placeholder="Search for lots" name="search" id="search"></input>
            <input class="search_btn" type="submit" name="submit" value="Search" />
        </div>
        <div class="orders">
            {% for order in object_list %}
            <a class="order_out" href="{% url 'app:order-detail' order.id %}">
                <div class="img_out">
                    {% for image in order.images %}
                    {% if forloop.counter == 1 %}
                    <img class="imgs" src="{{ image.img.url }}" alt="image">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="padding_box">
                    <div class="order_href">
                        <div class="order_title">{{ order.title }}</div>
                    </div>
                    <div class="order_price">
                        <span class="pound_icon">￡</span>
                        {% if order.highest_price %}
                        {{ order.highest_price }}
                        {% else %}
                        {{ order.start_price }}
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <!-- pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a class="page_jump" href="?page=1&size={{ size }}">&laquo; first</a>
                <a class="page_jump" href="?page={{ page_obj.previous_page_number }}&size={{ size }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                <a class="page_jump" href="?page={{ page_obj.next_page_number }}&size={{ size }}">next</a>
                <a class="page_jump" href="?page={{ page_obj.paginator.num_pages }}&size={{ size }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}