{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
{{ order.title }}
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/order_detail.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/order_detail.js' %}"></script>
<div class="main_Div">
    <div class="order_detail_inner">
        <div class="order_page_title">
            <h2>Order Detail</h2>
        </div>
        <div class="order_detail">
            {% if order.images|length == 0 %}
            <div class="images_div">
                No image
            </div>
            {% endif %}
            {% for image in order.images %}
            <div class="images_div">
                <img class="detail_images" src="{{ image.img.url }}" alt="image">
            </div>
            {% endfor %}
            <div class="title">{{ order.title }}</div>
            {% if order.status == "U" %}
            <div class="end_time_out">
                <div class="auct_label">Auctioning</div>
                <div class="end_text">End at <span class="end_time">{{ order.end_time }}</span></div>
            </div>
            {% elif order.status == "C" %}
            <div class="time_out">
                <div class="time_out_label">Canceled</div>
                <div class="end_text">End at <span class="end_time">{{ order.end_time }}</span></div>
            </div>
            {% elif order.status == "T" %}
            <div class="time_out">
                <div class="time_out_label">Time out</div>
                <div class="end_text">End at <span class="end_time">{{ order.end_time }}</span></div>
            </div>
            {% else %}
            <div class="time_out">
                <div class="time_out_label">Sold</div>
                <div class="end_text">End at <span class="end_time">{{ order.end_time }}</span></div>
            </div>
            {% endif %}

            <div class="order_highest_price">
                <span class="price_label">Current price</span>
                <span class="pound_icon">￡</span>
                {% if order.highest_price != null %}
                {{ order.highest_price|floatformat:2 }}
                {% else %}
                {{ order.start_price|floatformat:2 }}
                {% endif %}
            </div>
            <div class="order_start_price">
                <span class="price_label">Start price</span>
                <span class="pound_icon">￡</span>
                {{ order.start_price|floatformat:2 }}
            </div>
            <div class="description">{{ order.description }}
            </div>
            <div class="detail_avatar_out">
                <a class="avatar" href="{% url 'app:user' order.seller.id %}">
                    {% if order.seller.avatar %}
                    <img src="{{ order.seller.avatar.url }}" alt="user_avatar" class="avatar_pic">
                    {% else %}
                    <img src="{% static 'image/avatar_default.svg' %}" alt="user_default_avatar" class="avatar_pic">
                    {% endif %}
                </a>
                <div>
                    <a class="order_username_div" href="{% url 'app:user' order.seller.id %}">
                        {{ order.seller.username }}
                    </a>
                    <div class="published_time">published in {{ order.publish_time }}</div>
                </div>
                </a>
            </div>
            {% if order.bids|length == 0 %}
            <div class="no_bit_title">No bid now.</div>
            {% else %}
            <div class="bid_out">
                <div class="bit_title">LAST 5 BIDS</div>
                {% for bid in order.bids %}
                {% if forloop.counter <= 5 %} 
                <div class="bid_record">
                        <div class="bid_username">{{ bid.user.username }}</div>
                        <div class="bid_money">￡{{ bid.price }}</div>
                        <div class="bid_time">{{ bid.time }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <a href="{% url 'app:add-bid' order.id %}" class="bid_btn">Place Bid</a>
            <!-- user help -->
            <div class="instructions" onmouseenter="show_instruction()" onmouseleave="hide_instruction()">
                <img class="instruction_image" src="{% static 'image/help.svg' %}" alt="instruction image"></img>
                Helper：Bidding instructions
                <div class="instruction_inner">
                    <span class="red_span">
                        1. Please ensure that your account has enough balance before the auction.
                    </span>
                    <br/>
                    2. It is recommended that you bid one day before the auction ends. The closing time of the auction may change according to the actual situation.
                    <br/>
                    3. The account balance can be withdrawn at any time.
                    <br/>
                    4. If you do not win the auction item at the end of the auction, your bid will be returned to your account.
                </div>
            </div>
            {% if order.messages|length == 0 %}
            <div class="no_bit_title">No message now.</div>
            {% else %}
            <div class="bid_out">
                <div class="bit_title">Messages</div>
                {% for message in order.messages %}
                <div class="message_record">
                    <div class="message_avatar">
                        {% if message.user.avatar %}
                        <img src="{{ message.user.avatar.url }}" alt="message_user_avatar" class="avatar_pic">
                        {% else %}
                        <img src="{% static 'image/avatar_default.svg' %}" alt="user_default_avatar" class="avatar_pic">
                        {% endif %}
                    </div>
                    <div class="comment_right">
                        <div class="message_username">{{ message.user.username }}</div>
                        <div class="message_content">
                            {% if message.reply_id != null %}
                            <span class="reply_span">Reply to {{ message.reply.user.username }}:</span>
                            {% endif %}
                            {{ message.content }}
                        </div>
                        <div class="time_and_reply">
                            <span class="message_time">{{ message.time }}</span>
                            <a class="message_reply_btn" href="{% url 'app:reply-message' order.id message.id %}">Reply this</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <a href="{% url 'app:add-message' order.id %}" class="bid_btn">Leave Message</a>
        </div>
    </div>
</div>

<!-- <h2>Comments</h2>
{% if order.comments %}
{% for comment in order.comments %}
id: {{ comment.id }}
<br>
user: {{ comment.user.username }}
<br>
content: {{ comment.content }}
<br>
time: {{ comment.time }}
<br>
rate: {{ comment.rate }}
<hr>
{% endfor %}
{% else %}
No comments
{% endif %}
<a href="{% url 'app:add-message' order.id %}">leave message</a>
{% if order.status == 'F' %}
{% if user.id == order.seller.id or user.id == order.buyer.id %}
<a href="{% url 'app:add-comment' order.id %}">add comment</a>
{% endif %}
{% endif %}
{% endblock %} -->
