{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
Profile
{% endblock %}

{% block body_block %}
<!-- {% if user.is_authenticated %}
<ul>
    <li>
        <a href="{% url 'app:user' user.id %}">my account</a>
    </li>
    <li>
        <a href="{% url 'app:add-order' %}">add order</a>
    </li>
    <li>
        <a href="{% url 'app:logout' %}">logout</a>
    </li>
    <li>
        <a href="{% url 'app:user_modify' user.id %}"> Edit my Information</a>
    </li>
</ul>
{% endif %} -->
<link rel="stylesheet" href="{% static 'css/user_detail.css' %}" />
<div class="main_Div">
    <div class="user_detail_inner">
        <div class="user_detail_title">
            <h2>User Detail</h2>
        </div>
        <div class="user_detail">
            <div class="avatar_div">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="user_avatar" class="avatar_pic">
                {% else %}
                No avatar
                {% endif %}
            </div>
            <div class="username">{{ user_info.username }}</div>
            <div class="detail_item">Tel:<span class="number">{{ user_info.tel|default_if_none:"" }}</span></div>
            <div class="detail_item">Balance:<span class="number">￡{{ user_info.balance|floatformat:2 }}</span></div>
            <div class="detail_item">Address:
                <div class="address">{{ user_info.address|default_if_none:"" }}</div>
            </div>
            <a class="btns" href="{% url 'app:user_modify' user.id %}"> Edit my Information</a>
            <div class="item_title">Orders:</div>
            <div class="orders">
                {% for order in user_info.orders %}
                <div class="order_out">
                    <a href="{% url 'app:order-detail' order.id %}">
                        <div class="img_out">
                            {% for image in order.images %}
                            {% if forloop.counter == 1 %}
                            <img class="imgs" src="{{ image.img.url }}" alt="image">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                    <div class="padding_box">
                        <div class="order_href">
                            <div class="order_title">{{ order.title }}</div>
                        </div>
                        <div class="order_price">
                            <span class="pound_icon">￡</span>
                            {% if order.highest_price %}
                            {{ order.highest_price }}
                            {% else %}
                            {{ order.start_price }}
                            {% endif %}
                        </div>
                        {% if user.id == order.seller.id %}
                        <a class="modify" href="{% url 'app:orderModify' order.id %}">Modify</a>
                        <a class="modify" href="{% url 'app:orderModifyStatus' order.id %}">Cancel Order</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="item_title">Bids:</div>
            <div class="orders">
                {% for order in user_info.bids %}
                <div class="order_out">
                    <a href="{% url 'app:order-detail' order.id %}">
                        <div class="img_out">
                            {% if order.buyer == user.id %}
                            <div class="success">Success</div>
                            {% elif order.buyer %}
                            <div class="fail">Fail</div>
                            {% else %}
                            <div class="selling">Selling</div>
                            {% endif %}
                            {% for image in order.images %}
                            {% if forloop.counter == 1 %}
                            <img class="imgs" src="{{ image.img.url }}" alt="image">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                    <div class="padding_box">
                        <div class="order_href">
                            <div class="order_title">{{ order.title }}</div>
                        </div>
                        <div class="order_price">
                            <span class="pound_icon">￡</span>
                            {% if order.highest_price %}
                            {{ order.highest_price }}
                            {% else %}
                            {{ order.start_price }}
                            {% endif %}
                        </div>
                        {% if user.id == order.seller.id %}
                        <a class="modify" href="{% url 'app:orderModify' order.id %}">Modify</a>
                        <a class="modify" href="{% url 'app:orderModifyStatus' order.id %}">Cancel Order</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="btns" href="{% url 'app:logout' %}">Log out</a>
        </div>
    </div>
</div>
{% endblock %}

<!-- status: {{ order.status }}
<br>
description: {{ order.description }}
<br>
tags:
<br>
start_price :{{ order.start_price }}
<br>
highest_price :{{ order.highest_price }}
<br>
publish_time: {{ order.publish_time }}
<br>
{% if order.bid %}
bid_price: {{ order.bid.price }}
<br>
bid_time: {{ order.bid.time }}
<br>
{% endif %}
end_time: {{ order.end_time }}
<br>
images:
<img src="{{ image.img.url }}" alt="image" width="50">
{% if order.status == 'F' %}
<br>
<a href="{% url 'app:user' order.buyer.id %}">buyer: {{ order.buyer.username }}</a>
{% if user.id == order.seller.id or user.id == order.buyer.id %}
<a href="{% url 'app:add-comment' order.id %}">add comment</a>
{% endif %}
{% endif %}
<br>

<hr> -->