{% extends 'app/base.html' %}
{% load static %}

<!-- user detail page, if not the current user, show base information -->
{% block title_block %}
{{user_info.username}}
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/user_detail.css' %}" />
<div class="main_Div">
    <div class="user_detail_inner">
        <div class="user_detail_title">
            <h2>User Detail</h2>
        </div>
        <div class="user_detail">
            <div class="avatar_div">
                {% if user_info.avatar %}
                <img src="{{ user_info.avatar.url }}" alt="user_avatar" class="avatar_pic">
                {% else %}
                No avatar
                {% endif %}
            </div>
            <div class="username">{{ user_info.username }}</div>
            <div class="detail_item">Tel:<span class="number">{{ user_info.tel|default_if_none:"" }}</span></div>
            <div class="detail_item">Balance:<span class="number">￡{{ user_info.balance|floatformat:2 }}</span></div>
            <div class="detail_item">Address:
                <div class="address">{{ user_info.address|default_if_none:"" }}</div>
            </div>
            <!-- if is me, can edit -->
            {% if user.id == user_info.id %} 
            <a class="btns" href="{% url 'app:user_modify' user.id %}"> Edit my Information</a>
            {% endif %}
            <div class="item_title">Orders:</div>
            {% if user_info.orders|length == 0 %}
            <div class="no_bit_title">No order now.</div>
            {% else %}
            <div class="orders">
                {% for order in user_info.orders %}
                <div class="order_out">
                    <a href="{% url 'app:order-detail' order.id %}">
                        <div class="img_out">
                            {% for image in order.images %}
                            {% if forloop.counter == 1 %}
                            <img class="imgs" src="{{ image.img.url }}" alt="image">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                    <div class="padding_box">
                        <div class="order_href">
                            <div class="order_title">{{ order.title }}</div>
                        </div>
                        <div class="order_price">
                            <span class="pound_icon">￡</span>
                            {% if order.highest_price %}
                            {{ order.highest_price }}
                            {% else %}
                            {{ order.start_price }}
                            {% endif %}
                        </div>
                        {% if user.id == order.seller.id and order.status == 'U' %}
                        <a class="modify" href="{% url 'app:orderModify' order.id %}">Modify</a>
                        <a class="modify" href="{% url 'app:orderModifyStatus' order.id %}">Cancel Order</a>
                        {% else %}
                        <a class="modify_disabled" href="{% url 'app:orderModify' order.id %}">Modify</a>
                        <a class="modify_disabled" href="{% url 'app:orderModifyStatus' order.id %}">Cancel Order</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <!-- different with orders, bids list is the orders which we have bid. -->
            <div class="item_title">Bids:</div>
            {% if user_info.bids|length == 0 %}
            <div class="no_bit_title">No bid now.</div>
            {% else %}
            <div class="orders">
                {% for order in user_info.bids %}
                <div class="order_out">
                    <a href="{% url 'app:order-detail' order.id %}">
                        <div class="img_out">
                            {% if order.buyer == user.id %}
                            <div class="success">Success</div>
                            {% elif order.buyer %}
                            <div class="fail">Fail</div>
                            {% else %}
                            <div class="selling">Selling</div>
                            {% endif %}
                            {% for image in order.images %}
                            {% if forloop.counter == 1 %}
                            <img class="imgs" src="{{ image.img.url }}" alt="image">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                    <div class="padding_box">
                        <div class="order_href">
                            <div class="order_title">{{ order.title }}</div>
                        </div>
                        <div class="order_price">
                            <span class="pound_icon">￡</span>
                            {% if order.highest_price %}
                            {{ order.highest_price }}
                            {% else %}
                            {{ order.start_price }}
                            {% endif %}
                        </div>
                        {% if user.id == order.seller.id %}
                        <a class="modify" href="{% url 'app:orderModify' order.id %}">Modify</a>
                        <a class="modify" href="{% url 'app:orderModifyStatus' order.id %}">Cancel Order</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <a class="btns" href="{% url 'app:logout' %}">Log out</a>
        </div>
    </div>
</div>
{% endblock %}